.App {
  display: inline-flex;
  width: 100%;
  min-height: 100vh;
}

.content {
  height: 100vh;
  &.content--left {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #fce8c7ff;
  }
  &.content--right {
    width: 60%;
    border-left: 10px solid black;
  }
}

.review-board__header {
  display: flex;
  justify-content: center;
  height: 90px;
  margin: 40px 20px 20px;
  img {
    max-height: 100%;
  }
  .review-board__header__title {
    margin: 0 20px;
  }
  .reversed {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: 'FlipH';
  }
}

.review-form-container {
  font-size: 25px;
  line-height: 35px;
  margin: 40px 50px 30px;
  text-align: center;
}

.review-form {
  width: 500px;
  margin: 30px auto;
  .review-form__rater {
    display: flex;
    align-items: center;
    .review-form__rater__message {
      font-size: 12px;
      margin-left: 10px;
    }
  }
  .review-form__submission-container {
    display: inline-flex;
    width: 100%;
    input {
      width: 80%;
      font-size: 30px;
    }
    .review-form__submit-button {
      font-size: 20px;
      padding: 2px 10px;
      width: 15%;
      margin-left: 5%;
      background: white;
      border: 2px solid black;
    }
  }
}

.review-container {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
}

.pagination-container {
  margin: auto;
}

.review {
  width: 500px;
  margin: 20px auto;
  position: relative;
  box-sizing: border-box;
  .review__header {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
  }
  .review__text {
    margin-top: 10px;
  }
  .review__cancel {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 15px;
  }
}

.reaction {
  margin: auto;
  max-width: 90%;
  img {
    margin: auto;
    display: block;
    width: 100%;
  }
}

.reaction__review-text {
  font-size: 30px;
  font-style: italic;
  text-align: center;
  margin-bottom: 15px;
}
